@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

/* générale */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', 'sans-serif';
}

/* Logo */
#logo {
    display: flex;
    justify-content: space-around;
    margin: auto 0;
    width: 100%;
    background: #00508a;
    padding: 2em;
    text-align: center;
    color: white;
}

/* Text entre */
.maj {
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    font-size: 2.5em;
    font-weight: 600;
    font-family: sans-serif;
}

.maj2 {
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    font-size: 1.5em;
    font-weight: 600;
    font-family: sans-serif;
}

.leger {
    text-transform: uppercase;
    font-size: 1.5em;
}

#logo>p:not(.maj) {
    font-size: 2em;
}


/* Titre */

main {
    margin-top: 3em;
}

h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
    color: black;
    text-decoration: underline;
    margin: 2rem;
}



/* Menu Navigation */

a {
    text-decoration: none;
}

.container {
    max-width: 100%;
    text-align: center;
}

.toggleMenu {
    display: none;
    background: #666;
    padding: 10px 0;
    color: #fff;
}

.nav {
    list-style: none;
    display: flex;
    justify-content: space-around;
    background: #006ebe;
    padding: 1em;
}


.nav ul {
    list-style: none;
    width: 9em;
}

.nav a {
    padding: 10px 0;
    color: #fff;
}

.nav li {
    position: relative;
}

.nav>li {
    float: left;
}

.nav>li>a {
    display: block;
    padding: 10px;
    font-size: 1.2em;
    font-weight: 600;
}

.nav>li:last-child,
.nav>li:last-child:focus,
.nav>li:last-child:active,
.nav>li:last-child:visited {
    background: #ff6160;
}


.nav li ul {
    position: absolute;
    left: -9999px;
}

.nav>li.hover>ul {
    left: 0;
}

.nav li li.hover ul {
    left: 100%;
    top: 0;
}

.nav li li a {
    display: block;
    background: #006ebe;
    position: relative;
    z-index: 100;
    border-top: 1px solid #006ebe;
    padding: 10px
}

.nav li li li a {
    z-index: 200;
    border-top: 1px solid #006ebe;
}

@media screen and (max-width: 768px) {
    .active {
        display: block;
    }

    .nav>li {
        float: none;
    }

    .nav>li>.parent {
        background-position: 95% 50%;
    }

    .nav>li>.parent {
        background-image: none;
    }


    .nav ul {
        display: block;
        width: 100%;
    }

    .nav>li.hover>ul,
    .nav li li.hover ul {
        position: static;
    }

}

/* Main */

/* Infos actus */
.blocActu {
    width: 405px;
    margin: 13px auto;
    padding: 10px;
    background: #ff853c;
    color: white;
    text-align: center;
}

/*Organigramme*/
.organigramme {
    width: 920px;
    margin: auto;
    border: 1px solid black;
}

/* Infos action social */

.blocSocial {
    margin: 2em auto;
    width: 480px;
    text-align: justify;
    background: #8cd567;
    text-align: center;
    padding: 10px;
}

.majText {
    text-transform: uppercase;
}